a {
	color: #4B58A6;
}
a:hover {
	color: #4B58A6;
}
#map_canvas img {
	max-width: none;
}
#results_list {
	overflow-y: auto;
	height: 100%;
}
#legend {
	background: white;
	padding: 15px;
	position: absolute;
	/*  bottom:15%;*/
	left: 10;
}
.filter-box {
	height: 15px;
	width: 15px;
	display: inline-block;
 *border-right-width: 2px;
 *border-bottom-width: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.filter-yellow {
	background-color: #FBF358;
}
.filter-green {
	background-color: #00E13C;
}
.filter-blue {
	background-color: #5781FC;
}
.filter-purple {
	background-color: #7C54FB;
}
.filter-red {
	background-color: #FB6353;
}
canvas {
	-ms-touch-action: double-tap-zoom;
}
.container-fluid .row-fluid .container-fixed #searchbar {
	margin-top: 1em;
}
.table td {
	font-size: 11px;
}
.container-fluid {
	padding: 0;
}

html, body { height: 100% }

#directory2 {
	width:100%;
	height: 500px;
}
/*Map Page Secondary Menu*/
#naifd ul.inline > li, ol.inline > li {
	display: inline-block;
	font-weight: 500;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px solid #006453;
}
#naifd .main-content .container .row .span12 .row.clear-both .nav .inline .naifd.last {
	border: none;
	height: 100%;
}
#naifd .row-fluid .span5, #naifd .row-fluid .span4 { /* closes margin between map and table */
	display: block;
	width: 100%;
	min-height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-left: 1.074468085106383%;
*margin-left:1.074468085106383%;
}

.container-fluid .row-fluid .container-fluid #searchbar {
	display: inline;
	vertical-align: middle;
}
#searchbar .span4 #reset,
#searchbar #input-name p #search,
#searchbar #input-address p #search2 {
	margin-bottom: 1em;
}
#naifd .accordion-inner
{
	border-top: 1px solid #e5e5e5;
}

